<style>
    table {
        font-family: arial, sans-serif;
        border-collapse: collapse;
        width: 100%;
    }

    td, th {
        border: 1px solid #dddddd;
        text-align: center;
        padding: 8px;
    }

    tr:nth-child(even) {
        background-color: #dddddd;
    }
</style>
<table>
    <tr>
        <th>Airport</th>
        <th>Location</th>
        <th>#Airplanes</th>
        <th>Flights/Day</th>
    </tr>
    <tr>
        <td>{{#link-to 'ann-arbor'}}Ann Arbor (KARB){{/link-to}}</td>
        <td></td>
        <td></td>
        <td></td>
    </tr>
    <tr>
        <td>{{#link-to 'canton'}}Canton (1D2){{/link-to}}</td>
        <td></td>
        <td></td>
        <td></td>
    </tr>
    <tr>
        <td>{{#link-to 'oakland'}}Oakland (KPTK){{/link-to}}</td>
        <td></td>
        <td></td>
        <td></td>
    </tr>
    <tr>
        <td>{{#link-to 'troy'}}Troy (KVLL){{/link-to}}</td>
        <td></td>
        <td></td>
        <td></td>
    </tr>
    <tr>
        <td>{{#link-to 'willow'}}Willow Run (KYIP){{/link-to}}</td>
        <td></td>
        <td></td>
        <td></td>
    </tr>
    <tr>
        <td>{{#link-to 'oaklandsw'}}Oakland SW (Y47){{/link-to}}</td>
        <td></td>
        <td></td>
        <td></td>
    </tr>
    <tr>
        <td>{{#link-to 'brighton'}}Detroit (KDET){{/link-to}}</td>
        <td></td>
        <td></td>
        <td></td>
    </tr>
    <tr>
        <td>{{#link-to 'jackson'}}Jackson (KJXN){{/link-to}}</td>
        <td></td>
        <td></td>
        <td></td>
    </tr>
    <tr>
        <td>{{#link-to 'brighton'}}Brighton (45G){{/link-to}}</td>
        <td></td>
        <td></td>
        <td></td>
    </tr>
    <tr>
        <td>{{#link-to 'brighton'}}Livingston (KOZW){{/link-to}}</td>
        <td></td>
        <td></td>
        <td></td>
    </tr>

</table>