{{! without contextual components }}
{{#paper-toolbar}}
  {{#paper-toolbar-tools}}
    {{#paper-button iconButton=true onClick=(action "menu")}}
      {{paper-icon "menu"}}
    {{/paper-button}}
    <h1>Airplane Database (c)2020 Shahman Ver 0.10 Feb 9</h1>
    <span class="flex"></span>
    {{#paper-button raised=true onClick=(action 'goto' "airport")}}
        Airports
    {{/paper-button}}
    {{#paper-button raised=true onClick=(action 'goto' "airplanes")}}
        My Airplanes
    {{/paper-button}}
    {{#paper-button raised=true onClick=(action 'goto' "michairplanes")}}
        Michigan Airplanes
    {{/paper-button}}
    {{#paper-button raised=true onClick=(action "new")}}
       Import Airplanes
    {{/paper-button}}
    {{#paper-button iconButton=true onClick=(action "favorite")}}
      {{paper-icon "favorite"}}
    {{/paper-button}}
    {{#paper-button iconButton=true onClick=(action "more")}}
      {{paper-icon "more_vert"}}
    {{/paper-button}}
  {{/paper-toolbar-tools}}
{{/paper-toolbar}}
{{outlet}}
