{{! without contextual components }}
{{#paper-toolbar}}
  {{#paper-toolbar-tools}}
    {{#paper-button iconButton=true onClick=(action "menu")}}
      {{paper-icon "menu"}}
    {{/paper-button}}

    <h1>Ohio State Database (c)2020 Shahman Ver 1.02 Sept 13</h1>
    <span class="flex"></span>
    {{#paper-button raised=true onClick=(action 'gotoPage' 'players')}}
      View Players
    {{/paper-button}}
    {{#paper-button raised=true onClick=(action 'gotoPage' 'psplayers')}}
      Practice Squad
    {{/paper-button}}
    {{#paper-button raised=true onClick=(action 'gotoPage' 'undrafted')}}
      Undrafted
    {{/paper-button}}
    {{#paper-button raised=true onClick=(action 'gotoPage' 'rosters')}}
      Team Rosters
    {{/paper-button}}
    {{#paper-button raised=true onClick=(action "active")}}
      Active by Team
    {{/paper-button}}
    {{#paper-button raised=true onClick=(action "addPlayer")}}
      Add New Player
    {{/paper-button}}
    {{#paper-button iconButton=true onClick=(action "favorite")}}
      {{paper-icon "favorite"}}
    {{/paper-button}}
    {{#paper-button iconButton=true onClick=(action "more")}}
      {{paper-icon "more_vert"}}
    {{/paper-button}}
  {{/paper-toolbar-tools}}
{{/paper-toolbar}}
{{outlet}}
