{{outlet}}

<table class="wikitable sortable">
    <caption>List of Ohio State bowl games </caption>
    <tr>
        <th scope="col">#</th>
        <th scope="col">Bowl</th>
        <th scope="col">Score</th>
        <th scope="col">Date</th>
        <th scope="col">Season</th>
        <th scope="col">Opponent</th>
        <th scope="col">Stadium</th>
        <th scope="col">Location</th>
        <th scope="col">Attendance</th>
        <th scope="col">Head coach</th>
    </tr>
    <tr>
        <td align="center">1</td>
        <th scope="row"><a href="https://en.wikipedia.org/wiki/1921_Rose_Bowl" title="1921 Rose Bowl">Rose Bowl</a></th>
        <td style="background:#fcc;"><span style="display:none;" class="sortkey">L 28 !</span><span class="sorttext">L 28–0</span></td>
        <td><span class="sortkey" style="display:none;speak:none">000000001921-01-01-0000</span><span style="white-space:nowrap">Jan 1, 1921</span></td>
        <td><a href="https://en.wikipedia.org/wiki/1920_Ohio_State_Buckeyes_football_team" title="1920 Ohio State Buckeyes football team">1920</a></td>
        <td><a href="https://en.wikipedia.org/wiki/1920_California_Golden_Bears_football_team" title="1920 California Golden Bears football team">California</a></td>
        <td><a href="https://en.wikipedia.org/wiki/Rose_Bowl_(stadium)" title="Rose Bowl (stadium)">Rose Bowl</a></td>
        <td><a href="https://en.wikipedia.org/wiki/Pasadena,_California" title="Pasadena, California">Pasadena</a></td>
        <td>42,000</td>
        <td>John Wilce</td>
    </tr>
    <tr>
        <td align="center">2</td>
        <th scope="row"><a href="https://en.wikipedia.org/wiki/1950_Rose_Bowl" title="1950 Rose Bowl">Rose Bowl</a></th>
        <td style="background:#dfd;"><span style="display:none;" class="sortkey">W 03 !</span><span class="sorttext">W 17–14</span></td>
        <td><span class="sortkey" style="display:none;speak:none">000000001950-01-01-0000</span><span style="white-space:nowrap">Jan 1, 1950</span></td>
        <td><a href="https://en.wikipedia.org/wiki/1949_Ohio_State_Buckeyes_football_team" title="1949 Ohio State Buckeyes football team">1949</a></td>
        <td><a href="https://en.wikipedia.org/wiki/1949_California_Golden_Bears_football_team" title="1949 California Golden Bears football team">California</a></td>
        <td><a href="https://en.wikipedia.org/wiki/Rose_Bowl_(stadium)" title="Rose Bowl (stadium)">Rose Bowl</a></td>
        <td><a href="https://en.wikipedia.org/wiki/Pasadena,_California" title="Pasadena, California">Pasadena</a></td>
        <td>100,963</td>
        <td>Wes Fesler</td>
    </tr>
    <tr>
        <td align="center">3</td>
        <th scope="row"><a href="https://en.wikipedia.org/wiki/1955_Rose_Bowl" title="1955 Rose Bowl">Rose Bowl</a></th>
        <td style="background:#dfd;"><span style="display:none;" class="sortkey">W 13 !</span><span class="sorttext">W 20–7</span></td>
        <td><span class="sortkey" style="display:none;speak:none">000000001955-01-01-0000</span><span style="white-space:nowrap">Jan 1, 1955</span></td>
        <td><a href="https://en.wikipedia.org/wiki/1954_Ohio_State_Buckeyes_football_team" title="1954 Ohio State Buckeyes football team">1954</a></td>
        <td><a href="https://en.wikipedia.org/wiki/1954_USC_Trojans_football_team" title="1954 USC Trojans football team">USC Trojans</a></td>
        <td><a href="https://en.wikipedia.org/wiki/Rose_Bowl_(stadium)" title="Rose Bowl (stadium)">Rose Bowl</a></td>
        <td><a href="https://en.wikipedia.org/wiki/Pasadena,_California" title="Pasadena, California">Pasadena</a></td>
        <td>89,191</td>
        <td>Woody Hayes</td>
    </tr>
    <tr>
        <td align="center">4</td>
        <th scope="row"><a href="https://en.wikipedia.org/wiki/1958_Rose_Bowl" title="1958 Rose Bowl">Rose Bowl</a></th>
        <td style="background:#dfd;"><span style="display:none;" class="sortkey">W 03 !</span><span class="sorttext">W 10–7</span></td>
        <td><span class="sortkey" style="display:none;speak:none">000000001958-01-01-0000</span><span style="white-space:nowrap">Jan 1, 1958</span></td>
        <td><a href="https://en.wikipedia.org/wiki/1957_Ohio_State_Buckeyes_football_team" title="1957 Ohio State Buckeyes football team">1957</a></td>
        <td><a href="https://en.wikipedia.org/wiki/Oregon_Ducks_football" title="Oregon Ducks football">Oregon Ducks</a></td>
        <td><a href="https://en.wikipedia.org/wiki/Rose_Bowl_(stadium)" title="Rose Bowl (stadium)">Rose Bowl</a></td>
        <td><a href="https://en.wikipedia.org/wiki/Pasadena,_California" title="Pasadena, California">Pasadena</a></td>
        <td>98,202</td>
        <td>Woody Hayes</td>
    </tr>
    <tr>
        <td align="center">5</td>
        <th scope="row"><a href="https://en.wikipedia.org/wiki/1969_Rose_Bowl" title="1969 Rose Bowl">Rose Bowl</a></th>
        <td style="background:#dfd;"><span style="display:none;" class="sortkey">W 11 !</span><span class="sorttext">W 27–16</span></td>
        <td><span class="sortkey" style="display:none;speak:none">000000001969-01-01-0000</span><span style="white-space:nowrap">Jan 1, 1969</span></td>
        <td><a href="https://en.wikipedia.org/wiki/1968_Ohio_State_Buckeyes_football_team" title="1968 Ohio State Buckeyes football team">1968</a></td>
        <td><a href="https://en.wikipedia.org/wiki/1968_USC_Trojans_football_team" title="1968 USC Trojans football team">USC Trojans</a></td>
        <td><a href="https://en.wikipedia.org/wiki/Rose_Bowl_(stadium)" title="Rose Bowl (stadium)">Rose Bowl</a></td>
        <td><a href="https://en.wikipedia.org/wiki/Pasadena,_California" title="Pasadena, California">Pasadena</a></td>
        <td>102,063</td>
        <td>Woody Hayes</td>
    </tr>
    <tr>
        <td align="center">6</td>
        <th scope="row"><a href="https://en.wikipedia.org/wiki/1971_Rose_Bowl" title="1971 Rose Bowl">Rose Bowl</a></th>
        <td style="background:#fcc;"><span style="display:none;" class="sortkey">L 10 !</span><span class="sorttext">L 27–17</span></td>
        <td><span class="sortkey" style="display:none;speak:none">000000001971-01-01-0000</span><span style="white-space:nowrap">Jan 1, 1971</span></td>
        <td><a href="https://en.wikipedia.org/wiki/1970_Ohio_State_Buckeyes_football_team" title="1970 Ohio State Buckeyes football team">1970</a></td>
        <td><a href="https://en.wikipedia.org/wiki/1970_Stanford_Indians_football_team" title="1970 Stanford Indians football team">Stanford Indians</a></td>
        <td><a href="https://en.wikipedia.org/wiki/Rose_Bowl_(stadium)" title="Rose Bowl (stadium)">Rose Bowl</a></td>
        <td><a href="https://en.wikipedia.org/wiki/Pasadena,_California" title="Pasadena, California">Pasadena</a></td>
        <td>103,839</td>
        <td>Woody Hayes</td>
    </tr>
    <tr>
        <td align="center">7</td>
        <th scope="row"><a href="https://en.wikipedia.org/wiki/1973_Rose_Bowl" title="1973 Rose Bowl">Rose Bowl</a></th>
        <td style="background:#fcc;"><span style="display:none;" class="sortkey">L 25 !</span><span class="sorttext">L 42–17</span></td>
        <td><span class="sortkey" style="display:none;speak:none">000000001973-01-01-0000</span><span style="white-space:nowrap">Jan 1, 1973</span></td>
        <td><a href="https://en.wikipedia.org/wiki/1972_Ohio_State_Buckeyes_football_team" title="1972 Ohio State Buckeyes football team">1972</a></td>
        <td><a href="https://en.wikipedia.org/wiki/1972_USC_Trojans_football_team" title="1972 USC Trojans football team">USC Trojans</a></td>
        <td><a href="https://en.wikipedia.org/wiki/Rose_Bowl_(stadium)" title="Rose Bowl (stadium)">Rose Bowl</a></td>
        <td><a href="https://en.wikipedia.org/wiki/Pasadena,_California" title="Pasadena, California">Pasadena</a></td>
        <td>106,869</td>
        <td>Woody Hayes</td>
    </tr>
    <tr>
        <td align="center">8</td>
        <th scope="row"><a href="https://en.wikipedia.org/wiki/1974_Rose_Bowl" title="1974 Rose Bowl">Rose Bowl</a></th>
        <td style="background:#dfd;"><span style="display:none;" class="sortkey">W 21 !</span><span class="sorttext">W 42–21</span></td>
        <td><span class="sortkey" style="display:none;speak:none">000000001974-01-01-0000</span><span style="white-space:nowrap">Jan 1, 1974</span></td>
        <td><a href="https://en.wikipedia.org/wiki/1973_Ohio_State_Buckeyes_football_team" title="1973 Ohio State Buckeyes football team">1973</a></td>
        <td><a href="https://en.wikipedia.org/wiki/1973_USC_Trojans_football_team" title="1973 USC Trojans football team">USC Trojans</a></td>
        <td><a href="https://en.wikipedia.org/wiki/Rose_Bowl_(stadium)" title="Rose Bowl (stadium)">Rose Bowl</a></td>
        <td><a href="https://en.wikipedia.org/wiki/Pasadena,_California" title="Pasadena, California">Pasadena</a></td>
        <td>105,267</td>
        <td>Woody Hayes</td>
    </tr>
    <tr>
        <td align="center">9</td>
        <th scope="row"><a href="https://en.wikipedia.org/wiki/1975_Rose_Bowl" title="1975 Rose Bowl">Rose Bowl</a></th>
        <td style="background:#fcc;"><span style="display:none;" class="sortkey">L 01 !</span><span class="sorttext">L 18–17</span></td>
        <td><span class="sortkey" style="display:none;speak:none">000000001975-01-01-0000</span><span style="white-space:nowrap">Jan 1, 1975</span></td>
        <td><a href="https://en.wikipedia.org/wiki/1974_Ohio_State_Buckeyes_football_team" title="1974 Ohio State Buckeyes football team">1974</a></td>
        <td><a href="https://en.wikipedia.org/wiki/1974_USC_Trojans_football_team" title="1974 USC Trojans football team">USC Trojans</a></td>
        <td><a href="https://en.wikipedia.org/wiki/Rose_Bowl_(stadium)" title="Rose Bowl (stadium)">Rose Bowl</a></td>
        <td><a href="https://en.wikipedia.org/wiki/Pasadena,_California" title="Pasadena, California">Pasadena</a></td>
        <td>106,721</td>
        <td>Woody Hayes</td>
    </tr>
    <tr>
        <td align="center">10</td>
        <th scope="row"><a href="https://en.wikipedia.org/wiki/1976_Rose_Bowl" title="1976 Rose Bowl">Rose Bowl</a></th>
        <td style="background:#fcc;"><span style="display:none;" class="sortkey">L 13 !</span><span class="sorttext">L 23–10</span></td>
        <td><span class="sortkey" style="display:none;speak:none">000000001976-01-01-0000</span><span style="white-space:nowrap">Jan 1, 1976</span></td>
        <td><a href="https://en.wikipedia.org/wiki/1975_Ohio_State_Buckeyes_football_team" title="1975 Ohio State Buckeyes football team">1975</a></td>
        <td><a href="https://en.wikipedia.org/wiki/1975_UCLA_Bruins_football_team" title="1975 UCLA Bruins football team">UCLA Bruins</a></td>
        <td><a href="https://en.wikipedia.org/wiki/Rose_Bowl_(stadium)" title="Rose Bowl (stadium)">Rose Bowl</a></td>
        <td><a href="https://en.wikipedia.org/wiki/Pasadena,_California" title="Pasadena, California">Pasadena</a></td>
        <td>105,464</td>
        <td>Woody Hayes</td>
    </tr>
    <tr>
        <td align="center">11</td>
        <th scope="row"><a href="https://en.wikipedia.org/wiki/1977_Orange_Bowl" title="1977 Orange Bowl">Orange Bowl</a></th>
        <td style="background:#dfd;"><span style="display:none;" class="sortkey">W 17 !</span><span class="sorttext">W 27–10</span></td>
        <td><span class="sortkey" style="display:none;speak:none">000000001977-01-01-0000</span><span style="white-space:nowrap">Jan 1, 1977</span></td>
        <td><a href="https://en.wikipedia.org/wiki/1976_Ohio_State_Buckeyes_football_team" title="1976 Ohio State Buckeyes football team">1976</a></td>
        <td><a href="https://en.wikipedia.org/wiki/Colorado_Buffaloes_football" title="Colorado Buffaloes football">Colorado Buffaloes</a></td>
        <td><a href="https://en.wikipedia.org/wiki/Miami_Orange_Bowl" title="Miami Orange Bowl">Orange Bowl</a></td>
        <td><a href="https://en.wikipedia.org/wiki/Miami,_Florida" class="mw-redirect" title="Miami, Florida">Miami</a></td>
        <td>65,537</td>
        <td>Woody Hayes</td>
    </tr>
    <tr>
        <td align="center">12</td>
        <th scope="row"><a href="https://en.wikipedia.org/wiki/1978_Sugar_Bowl" title="1978 Sugar Bowl">Sugar Bowl</a></th>
        <td style="background:#fcc;"><span style="display:none;" class="sortkey">L 29 !</span><span class="sorttext">L 35–6</span></td>
        <td><span class="sortkey" style="display:none;speak:none">000000001978-01-02-0000</span><span style="white-space:nowrap">Jan 2, 1978</span></td>
        <td><a href="https://en.wikipedia.org/wiki/1977_Ohio_State_Buckeyes_football_team" title="1977 Ohio State Buckeyes football team">1977</a></td>
        <td><a href="https://en.wikipedia.org/wiki/1977_Alabama_Crimson_Tide_football_team" title="1977 Alabama Crimson Tide football team">Alabama Crimson Tide</a></td>
        <td><a href="https://en.wikipedia.org/wiki/Louisiana_Superdome" class="mw-redirect" title="Louisiana Superdome">Louisiana Superdome</a></td>
        <td><a href="https://en.wikipedia.org/wiki/New_Orleans" title="New Orleans">New Orleans</a></td>
        <td>76,811</td>
        <td>Woody Hayes</td>
    </tr>
    <tr>
        <td align="center">13</td>
        <th scope="row"><a href="https://en.wikipedia.org/wiki/1978_Gator_Bowl" title="1978 Gator Bowl">Gator Bowl</a></th>
        <td style="background:#fcc;"><span style="display:none;" class="sortkey">L 02 !</span><span class="sorttext">L 17–15</span></td>
        <td><span class="sortkey" style="display:none;speak:none">000000001978-12-29-0000</span><span style="white-space:nowrap">Dec 29, 1978</span></td>
        <td><a href="https://en.wikipedia.org/wiki/1978_Ohio_State_Buckeyes_football_team" title="1978 Ohio State Buckeyes football team">1978</a></td>
        <td><a href="https://en.wikipedia.org/wiki/1978_Clemson_Tigers_football_team" title="1978 Clemson Tigers football team">Clemson Tigers</a></td>
        <td><a href="https://en.wikipedia.org/wiki/Gator_Bowl_Stadium" title="Gator Bowl Stadium">Gator Bowl</a></td>
        <td><a href="https://en.wikipedia.org/wiki/Jacksonville,_Florida" title="Jacksonville, Florida">Jacksonville</a></td>
        <td>72,011</td>
        <td>Woody Hayes</td>
    </tr>
    <tr>
        <td align="center">14</td>
        <th scope="row"><a href="https://en.wikipedia.org/wiki/1980_Rose_Bowl" title="1980 Rose Bowl">Rose Bowl</a></th>
        <td style="background:#fcc;"><span style="display:none;" class="sortkey">L 01 !</span><span class="sorttext">L 17–16</span></td>
        <td><span class="sortkey" style="display:none;speak:none">000000001980-01-01-0000</span><span style="white-space:nowrap">Jan 1, 1980</span></td>
        <td><a href="https://en.wikipedia.org/wiki/1979_Ohio_State_Buckeyes_football_team" title="1979 Ohio State Buckeyes football team">1979</a></td>
        <td><a href="https://en.wikipedia.org/wiki/1979_USC_Trojans_football_team" title="1979 USC Trojans football team">USC Trojans</a></td>
        <td><a href="https://en.wikipedia.org/wiki/Rose_Bowl_(stadium)" title="Rose Bowl (stadium)">Rose Bowl</a></td>
        <td><a href="https://en.wikipedia.org/wiki/Pasadena,_California" title="Pasadena, California">Pasadena</a></td>
        <td>105,526</td>
        <td>Earle Bruce</td>
    </tr>
    <tr>
        <td align="center">15</td>
        <th scope="row"><a href="https://en.wikipedia.org/wiki/1980_Fiesta_Bowl" title="1980 Fiesta Bowl">Fiesta Bowl</a></th>
        <td style="background:#fcc;"><span style="display:none;" class="sortkey">L 12 !</span><span class="sorttext">L 31–19</span></td>
        <td><span class="sortkey" style="display:none;speak:none">000000001980-12-26-0000</span><span style="white-space:nowrap">Dec 26, 1980</span></td>
        <td><a href="https://en.wikipedia.org/wiki/1980_Ohio_State_Buckeyes_football_team" title="1980 Ohio State Buckeyes football team">1980</a></td>
        <td><a href="https://en.wikipedia.org/wiki/1980_Penn_State_Nittany_Lions_football_team" title="1980 Penn State Nittany Lions football team">Penn State</a></td>
        <td><a href="https://en.wikipedia.org/wiki/Sun_Devil_Stadium" title="Sun Devil Stadium">Sun Devil Stadium</a></td>
        <td><a href="https://en.wikipedia.org/wiki/Tempe,_Arizona" title="Tempe, Arizona">Tempe</a></td>
        <td>66,738</td>
        <td>Earle Bruce</td>
    </tr>
    <tr>
        <td align="center">16</td>
        <th scope="row"><a href="https://en.wikipedia.org/wiki/1981_Liberty_Bowl" title="1981 Liberty Bowl">Liberty Bowl</a></th>
        <td style="background:#dfd;"><span style="display:none;" class="sortkey">W 03 !</span><span class="sorttext">W 31–28</span></td>
        <td><span class="sortkey" style="display:none;speak:none">000000001981-12-30-0000</span><span style="white-space:nowrap">Dec 30, 1981</span></td>
        <td><a href="https://en.wikipedia.org/wiki/1981_Ohio_State_Buckeyes_football_team" title="1981 Ohio State Buckeyes football team">1981</a></td>
        <td><a href="https://en.wikipedia.org/wiki/1981_Navy_Midshipmen_football_team" title="1981 Navy Midshipmen football team">Navy Midshipmen</a></td>
        <td><a href="https://en.wikipedia.org/wiki/Liberty_Bowl_Memorial_Stadium" title="Liberty Bowl Memorial Stadium">Liberty Bowl</a></td>
        <td><a href="https://en.wikipedia.org/wiki/Memphis,_Tennessee" title="Memphis, Tennessee">Memphis</a></td>
        <td>43,216</td>
        <td>Earle Bruce</td>
    </tr>
    <tr>
        <td align="center">17</td>
        <th scope="row"><a href="https://en.wikipedia.org/wiki/1982_Holiday_Bowl" title="1982 Holiday Bowl">Holiday Bowl</a></th>
        <td style="background:#dfd;"><span style="display:none;" class="sortkey">W 30 !</span><span class="sorttext">W 47–17</span></td>
        <td><span class="sortkey" style="display:none;speak:none">000000001982-12-17-0000</span><span style="white-space:nowrap">Dec 17, 1982</span></td>
        <td><a href="https://en.wikipedia.org/wiki/1982_Ohio_State_Buckeyes_football_team" title="1982 Ohio State Buckeyes football team">1982</a></td>
        <td><a href="https://en.wikipedia.org/wiki/1982_BYU_Cougars_football_team" title="1982 BYU Cougars football team">BYU Cougars</a></td>
        <td><a href="https://en.wikipedia.org/wiki/Jack_Murphy_Stadium" class="mw-redirect" title="Jack Murphy Stadium">Jack Murphy Stadium</a></td>
        <td><a href="https://en.wikipedia.org/wiki/San_Diego" title="San Diego">San Diego</a></td>
        <td>52,533</td>
        <td>Earle Bruce</td>
    </tr>
    <tr>
        <td align="center">18</td>
        <th scope="row"><a href="https://en.wikipedia.org/wiki/1984_Fiesta_Bowl" title="1984 Fiesta Bowl">Fiesta Bowl</a></th>
        <td style="background:#dfd;"><span style="display:none;" class="sortkey">W 05 !</span><span class="sorttext">W 28–23</span></td>
        <td><span class="sortkey" style="display:none;speak:none">000000001984-01-02-0000</span><span style="white-space:nowrap">Jan 2, 1984</span></td>
        <td><a href="https://en.wikipedia.org/wiki/1983_Ohio_State_Buckeyes_football_team" title="1983 Ohio State Buckeyes football team">1983</a></td>
        <td><a href="https://en.wikipedia.org/wiki/1983_Pittsburgh_Panthers_football_team" title="1983 Pittsburgh Panthers football team">Pittsburgh Panthers</a></td>
        <td><a href="https://en.wikipedia.org/wiki/Sun_Devil_Stadium" title="Sun Devil Stadium">Sun Devil Stadium</a></td>
        <td><a href="https://en.wikipedia.org/wiki/Tempe,_Arizona" title="Tempe, Arizona">Tempe</a></td>
        <td>66,484</td>
        <td>Earle Bruce</td>
    </tr>
    <tr>
        <td align="center">19</td>
        <th scope="row"><a href="https://en.wikipedia.org/wiki/1985_Rose_Bowl" title="1985 Rose Bowl">Rose Bowl</a></th>
        <td style="background:#fcc;"><span style="display:none;" class="sortkey">L 03 !</span><span class="sorttext">L 20–17</span></td>
        <td><span class="sortkey" style="display:none;speak:none">000000001985-01-01-0000</span><span style="white-space:nowrap">Jan 1, 1985</span></td>
        <td><a href="https://en.wikipedia.org/wiki/1984_Ohio_State_Buckeyes_football_team" title="1984 Ohio State Buckeyes football team">1984</a></td>
        <td><a href="https://en.wikipedia.org/wiki/1984_USC_Trojans_football_team" title="1984 USC Trojans football team">USC Trojans</a></td>
        <td><a href="https://en.wikipedia.org/wiki/Rose_Bowl_(stadium)" title="Rose Bowl (stadium)">Rose Bowl</a></td>
        <td><a href="https://en.wikipedia.org/wiki/Pasadena,_California" title="Pasadena, California">Pasadena</a></td>
        <td>102,594</td>
        <td>Earle Bruce</td>
    </tr>
    <tr>
        <td align="center">20</td>
        <th scope="row"><a href="https://en.wikipedia.org/wiki/1985_Florida_Citrus_Bowl" title="1985 Florida Citrus Bowl">Florida Citrus Bowl</a></th>
        <td style="background:#dfd;"><span style="display:none;" class="sortkey">W 05 !</span><span class="sorttext">W 10–7</span></td>
        <td><span class="sortkey" style="display:none;speak:none">000000001985-12-28-0000</span><span style="white-space:nowrap">Dec 28, 1985</span></td>
        <td><a href="https://en.wikipedia.org/wiki/1985_Ohio_State_Buckeyes_football_team" title="1985 Ohio State Buckeyes football team">1985</a></td>
        <td><a href="https://en.wikipedia.org/wiki/1985_BYU_Cougars_football_team" title="1985 BYU Cougars football team">BYU Cougars</a></td>
        <td><a href="https://en.wikipedia.org/wiki/Citrus_Bowl" title="Citrus Bowl">Citrus Bowl</a></td>
        <td><a href="https://en.wikipedia.org/wiki/Orlando,_Florida" title="Orlando, Florida">Orlando</a></td>
        <td>50,920</td>
        <td>Earle Bruce</td>
    </tr>
    <tr>
        <td align="center">21</td>
        <th scope="row"><a href="https://en.wikipedia.org/wiki/1987_Cotton_Bowl_Classic" title="1987 Cotton Bowl Classic">Cotton Bowl Classic</a></th>
        <td style="background:#dfd;"><span style="display:none;" class="sortkey">W 16 !</span><span class="sorttext">W 28–12</span></td>
        <td><span class="sortkey" style="display:none;speak:none">000000001987-01-01-0000</span><span style="white-space:nowrap">Jan 1, 1987</span></td>
        <td><a href="https://en.wikipedia.org/wiki/1986_Ohio_State_Buckeyes_football_team" title="1986 Ohio State Buckeyes football team">1986</a></td>
        <td><a href="https://en.wikipedia.org/wiki/Texas_A%26M_Aggies_football" title="Texas A&amp;M Aggies football">Texas A&amp;M Aggies</a></td>
        <td><a href="https://en.wikipedia.org/wiki/Cotton_Bowl_(stadium)" title="Cotton Bowl (stadium)">Cotton</a></td>
        <td><a href="https://en.wikipedia.org/wiki/Dallas,_Texas" class="mw-redirect" title="Dallas, Texas">Dallas</a></td>
        <td>74,188</td>
        <td>Earle Bruce</td>
    </tr>
    <tr>
        <td align="center">22</td>
        <th scope="row"><a href="https://en.wikipedia.org/wiki/1990_Hall_of_Fame_Bowl" title="1990 Hall of Fame Bowl">Hall of Fame Bowl</a></th>
        <td style="background:#fcc;"><span style="display:none;" class="sortkey">L 17 !</span><span class="sorttext">L 31–14</span></td>
        <td><span class="sortkey" style="display:none;speak:none">000000001990-01-01-0000</span><span style="white-space:nowrap">Jan 1, 1990</span></td>
        <td><a href="https://en.wikipedia.org/wiki/1989_Ohio_State_Buckeyes_football_team" title="1989 Ohio State Buckeyes football team">1989</a></td>
        <td><a href="https://en.wikipedia.org/wiki/1989_Auburn_Tigers_football_team" title="1989 Auburn Tigers football team">Auburn Tigers</a></td>
        <td><a href="https://en.wikipedia.org/wiki/Tampa_Stadium" title="Tampa Stadium">Tampa Stadium</a></td>
        <td><a href="https://en.wikipedia.org/wiki/Tampa,_Florida" title="Tampa, Florida">Tampa</a></td>
        <td>52,535</td>
        <td>John Cooper</td>
    </tr>
    <tr>
        <td align="center">23</td>
        <th scope="row"><a href="https://en.wikipedia.org/wiki/1990_Liberty_Bowl" title="1990 Liberty Bowl">Liberty Bowl</a></th>
        <td style="background:#fcc;"><span style="display:none;" class="sortkey">L 12 !</span><span class="sorttext">L 23–11</span></td>
        <td><span class="sortkey" style="display:none;speak:none">000000001990-12-27-0000</span><span style="white-space:nowrap">Dec 27, 1990</span></td>
        <td><a href="https://en.wikipedia.org/wiki/1990_Ohio_State_Buckeyes_football_team" title="1990 Ohio State Buckeyes football team">1990</a></td>
        <td><a href="https://en.wikipedia.org/wiki/Air_Force_Falcons_football" title="Air Force Falcons football">Air Force Falcons</a></td>
        <td><a href="https://en.wikipedia.org/wiki/Liberty_Bowl_Memorial_Stadium" title="Liberty Bowl Memorial Stadium">Liberty Bowl</a></td>
        <td><a href="https://en.wikipedia.org/wiki/Memphis,_Tennessee" title="Memphis, Tennessee">Memphis</a></td>
        <td>13,144</td>
        <td>John Cooper</td>
    </tr>
    <tr>
        <td align="center">24</td>
        <th scope="row"><a href="https://en.wikipedia.org/wiki/1992_Hall_of_Fame_Bowl" title="1992 Hall of Fame Bowl">Hall of Fame Bowl</a></th>
        <td style="background:#fcc;"><span style="display:none;" class="sortkey">L 07 !</span><span class="sorttext">L 24–17</span></td>
        <td><span class="sortkey" style="display:none;speak:none">000000001992-01-01-0000</span><span style="white-space:nowrap">Jan 1, 1992</span></td>
        <td><a href="https://en.wikipedia.org/wiki/1991_Ohio_State_Buckeyes_football_team" title="1991 Ohio State Buckeyes football team">1991</a></td>
        <td><a href="https://en.wikipedia.org/wiki/1991_Syracuse_Orangemen_football_team" title="1991 Syracuse Orangemen football team">Syracuse Orangemen</a></td>
        <td><a href="https://en.wikipedia.org/wiki/Tampa_Stadium" title="Tampa Stadium">Tampa Stadium</a></td>
        <td><a href="https://en.wikipedia.org/wiki/Tampa,_Florida" title="Tampa, Florida">Tampa</a></td>
        <td>57,789</td>
        <td>John Cooper</td>
    </tr>
    <tr>
        <td align="center">25</td>
        <th scope="row"><a href="https://en.wikipedia.org/wiki/1993_Florida_Citrus_Bowl" title="1993 Florida Citrus Bowl">Florida Citrus Bowl</a></th>
        <td style="background:#fcc;"><span style="display:none;" class="sortkey">L 07 !</span><span class="sorttext">L 21–14</span></td>
        <td><span class="sortkey" style="display:none;speak:none">000000001993-01-01-0000</span><span style="white-space:nowrap">Jan 1, 1993</span></td>
        <td><a href="https://en.wikipedia.org/wiki/1992_Ohio_State_Buckeyes_football_team" title="1992 Ohio State Buckeyes football team">1992</a></td>
        <td><a href="https://en.wikipedia.org/wiki/1992_Georgia_Bulldogs_football_team" title="1992 Georgia Bulldogs football team">Georgia Bulldogs</a></td>
        <td><a href="https://en.wikipedia.org/wiki/Citrus_Bowl" title="Citrus Bowl">Citrus Bowl</a></td>
        <td><a href="https://en.wikipedia.org/wiki/Orlando,_Florida" title="Orlando, Florida">Orlando</a></td>
        <td>65,816</td>
        <td>John Cooper</td>
    </tr>
    <tr>
        <td align="center">26</td>
        <th scope="row"><a href="https://en.wikipedia.org/wiki/1993_Holiday_Bowl" title="1993 Holiday Bowl">Holiday Bowl</a></th>
        <td style="background:#dfd;"><span style="display:none;" class="sortkey">W 07 !</span><span class="sorttext">W 28–21</span></td>
        <td><span class="sortkey" style="display:none;speak:none">000000001993-12-30-0000</span><span style="white-space:nowrap">Dec 30, 1993</span></td>
        <td><a href="https://en.wikipedia.org/wiki/1993_Ohio_State_Buckeyes_football_team" title="1993 Ohio State Buckeyes football team">1993</a></td>
        <td><a href="https://en.wikipedia.org/wiki/BYU_Cougars_football" title="BYU Cougars football">BYU Cougars</a></td>
        <td><a href="https://en.wikipedia.org/wiki/Jack_Murphy_Stadium" class="mw-redirect" title="Jack Murphy Stadium">Jack Murphy Stadium</a></td>
        <td><a href="https://en.wikipedia.org/wiki/San_Diego" title="San Diego">San Diego</a></td>
        <td>52,108</td>
        <td>John Cooper</td>
    </tr>
    <tr>
        <td align="center">27</td>
        <th scope="row"><a href="https://en.wikipedia.org/wiki/1995_Florida_Citrus_Bowl" title="1995 Florida Citrus Bowl">Florida Citrus Bowl</a></th>
        <td style="background:#fcc;"><span style="display:none;" class="sortkey">L 07 !</span><span class="sorttext">L 24–17</span></td>
        <td><span class="sortkey" style="display:none;speak:none">000000001995-01-02-0000</span><span style="white-space:nowrap">Jan 2, 1995</span></td>
        <td><a href="https://en.wikipedia.org/wiki/1994_Ohio_State_Buckeyes_football_team" title="1994 Ohio State Buckeyes football team">1994</a></td>
        <td><a href="https://en.wikipedia.org/wiki/1994_Alabama_Crimson_Tide_football_team" title="1994 Alabama Crimson Tide football team">Alabama Crimson Tide</a></td>
        <td><a href="https://en.wikipedia.org/wiki/Citrus_Bowl" title="Citrus Bowl">Citrus Bowl</a></td>
        <td><a href="https://en.wikipedia.org/wiki/Orlando,_Florida" title="Orlando, Florida">Orlando</a></td>
        <td>71,195</td>
        <td>John Cooper</td>
    </tr>
    <tr>
        <td align="center">28</td>
        <th scope="row"><a href="https://en.wikipedia.org/wiki/1996_Florida_Citrus_Bowl" title="1996 Florida Citrus Bowl">Florida Citrus Bowl</a></th>
        <td style="background:#fcc;"><span style="display:none;" class="sortkey">L 03 !</span><span class="sorttext">L 20–14</span></td>
        <td><span class="sortkey" style="display:none;speak:none">000000001996-01-02-0000</span><span style="white-space:nowrap">Jan 2, 1996</span></td>
        <td><a href="https://en.wikipedia.org/wiki/1995_Ohio_State_Buckeyes_football_team" title="1995 Ohio State Buckeyes football team">1995</a></td>
        <td><a href="https://en.wikipedia.org/wiki/1995_Tennessee_Volunteers_football_team" title="1995 Tennessee Volunteers football team">Tennessee Volunteers</a></td>
        <td><a href="https://en.wikipedia.org/wiki/Citrus_Bowl" title="Citrus Bowl">Citrus Bowl</a></td>
        <td><a href="https://en.wikipedia.org/wiki/Orlando,_Florida" title="Orlando, Florida">Orlando</a></td>
        <td>70,797</td>
        <td>John Cooper</td>
    </tr>
    <tr>
        <td align="center">29</td>
        <th scope="row"><a href="https://en.wikipedia.org/wiki/1997_Rose_Bowl" title="1997 Rose Bowl">Rose Bowl</a></th>
        <td style="background:#dfd;"><span style="display:none;" class="sortkey">W 03 !</span><span class="sorttext">W 20–17</span></td>
        <td><span class="sortkey" style="display:none;speak:none">000000001997-01-01-0000</span><span style="white-space:nowrap">Jan 1, 1997</span></td>
        <td><a href="https://en.wikipedia.org/wiki/1996_Ohio_State_Buckeyes_football_team" title="1996 Ohio State Buckeyes football team">1996</a></td>
        <td><a href="https://en.wikipedia.org/wiki/1996_Arizona_State_Sun_Devils_football_team" title="1996 Arizona State Sun Devils football team">Arizona State Sun Devils</a></td>
        <td><a href="https://en.wikipedia.org/wiki/Rose_Bowl_(stadium)" title="Rose Bowl (stadium)">Rose Bowl</a></td>
        <td><a href="https://en.wikipedia.org/wiki/Pasadena,_California" title="Pasadena, California">Pasadena</a></td>
        <td>100,635</td>
        <td>John Cooper</td>
    </tr>
    <tr>
        <td align="center">30</td>
        <th scope="row"><a href="https://en.wikipedia.org/wiki/1998_Sugar_Bowl" title="1998 Sugar Bowl">Sugar Bowl</a></th>
        <td style="background:#fcc;"><span style="display:none;" class="sortkey">L 17 !</span><span class="sorttext">L 31–14</span></td>
        <td><span class="sortkey" style="display:none;speak:none">000000001998-01-01-0000</span><span style="white-space:nowrap">Jan 1, 1998</span></td>
        <td><a href="https://en.wikipedia.org/wiki/1997_Ohio_State_Buckeyes_football_team" title="1997 Ohio State Buckeyes football team">1997</a></td>
        <td><a href="https://en.wikipedia.org/wiki/1997_Florida_State_Seminoles_football_team" title="1997 Florida State Seminoles football team">Florida State Seminoles</a></td>
        <td><a href="https://en.wikipedia.org/wiki/Louisiana_Superdome" class="mw-redirect" title="Louisiana Superdome">Louisiana Superdome</a></td>
        <td><a href="https://en.wikipedia.org/wiki/New_Orleans" title="New Orleans">New Orleans</a></td>
        <td>67,289</td>
        <td>John Cooper</td>
    </tr>
    <tr>
        <td align="center">31</td>
        <th scope="row"><a href="https://en.wikipedia.org/wiki/1999_Sugar_Bowl" title="1999 Sugar Bowl">Sugar Bowl</a></th>
        <td style="background:#dfd;"><span style="display:none;" class="sortkey">W 10 !</span><span class="sorttext">W 24–14</span></td>
        <td><span class="sortkey" style="display:none;speak:none">000000001999-01-01-0000</span><span style="white-space:nowrap">Jan 1, 1999</span></td>
        <td><a href="https://en.wikipedia.org/wiki/1998_Ohio_State_Buckeyes_football_team" title="1998 Ohio State Buckeyes football team">1998</a></td>
        <td><a href="https://en.wikipedia.org/wiki/1998_Texas_A%26M_Aggies_football_team" title="1998 Texas A&amp;M Aggies football team">Texas A&amp;M Aggies</a></td>
        <td><a href="https://en.wikipedia.org/wiki/Louisiana_Superdome" class="mw-redirect" title="Louisiana Superdome">Louisiana Superdome</a></td>
        <td><a href="https://en.wikipedia.org/wiki/New_Orleans" title="New Orleans">New Orleans</a></td>
        <td>76,503</td>
        <td>John Cooper</td>
    </tr>
    <tr>
        <td align="center">32</td>
        <th scope="row"><a href="https://en.wikipedia.org/wiki/2001_Outback_Bowl" title="2001 Outback Bowl">Outback Bowl</a></th>
        <td style="background:#fcc;"><span style="display:none;" class="sortkey">L 17 !</span><span class="sorttext">L 24–7</span></td>
        <td><span class="sortkey" style="display:none;speak:none">000000002001-01-01-0000</span><span style="white-space:nowrap">Jan 1, 2001</span></td>
        <td><a href="https://en.wikipedia.org/wiki/2000_Ohio_State_Buckeyes_football_team" title="2000 Ohio State Buckeyes football team">2000</a></td>
        <td><a href="https://en.wikipedia.org/wiki/2000_South_Carolina_Gamecocks_football_team" title="2000 South Carolina Gamecocks football team">South Carolina</a></td>
        <td><a href="https://en.wikipedia.org/wiki/Raymond_James_Stadium" title="Raymond James Stadium">Raymond James Stadium</a></td>
        <td><a href="https://en.wikipedia.org/wiki/Tampa,_Florida" title="Tampa, Florida">Tampa</a></td>
        <td>65,299</td>
        <td>John Cooper</td>
    </tr>
    <tr>
        <td align="center">33</td>
        <th scope="row"><a href="https://en.wikipedia.org/wiki/2002_Outback_Bowl" title="2002 Outback Bowl">Outback Bowl</a></th>
        <td style="background:#fcc;"><span style="display:none;" class="sortkey">L 03 !</span><span class="sorttext">L 31–28</span></td>
        <td><span class="sortkey" style="display:none;speak:none">000000002002-01-01-0000</span><span style="white-space:nowrap">Jan 1, 2002</span></td>
        <td><a href="https://en.wikipedia.org/wiki/2001_Ohio_State_Buckeyes_football_team" title="2001 Ohio State Buckeyes football team">2001</a></td>
        <td><a href="https://en.wikipedia.org/wiki/2001_South_Carolina_Gamecocks_football_team" title="2001 South Carolina Gamecocks football team">South Carolina</a></td>
        <td><a href="https://en.wikipedia.org/wiki/Raymond_James_Stadium" title="Raymond James Stadium">Raymond James Stadium</a></td>
        <td><a href="https://en.wikipedia.org/wiki/Tampa,_Florida" title="Tampa, Florida">Tampa</a></td>
        <td>66,249</td>
        <td>Jim Tressel</td>
    </tr>
    <tr>
        <td align="center">34</td>
        <td scope="row" align="center" bgcolor="#FFE6BD"><b><a href="https://en.wikipedia.org/wiki/2003_Fiesta_Bowl" title="2003 Fiesta Bowl">Fiesta Bowl</a></b>*</td>
        <td style="background:#dfd;"><span style="display:none;" class="sortkey">W 07 !</span><span class="sorttext">W 31–24</span></td>
        <td><span class="sortkey" style="display:none;speak:none">000000002003-01-03-0000</span><span style="white-space:nowrap">Jan 3, 2003</span></td>
        <td><a href="https://en.wikipedia.org/wiki/2002_Ohio_State_Buckeyes_football_team" title="2002 Ohio State Buckeyes football team">2002</a></td>
        <td><a href="https://en.wikipedia.org/wiki/2002_Miami_Hurricanes_football_team" title="2002 Miami Hurricanes football team">Miami Hurricanes</a></td>
        <td><a href="https://en.wikipedia.org/wiki/Sun_Devil_Stadium" title="Sun Devil Stadium">Sun Devil Stadium</a></td>
        <td><a href="https://en.wikipedia.org/wiki/Tempe,_Arizona" title="Tempe, Arizona">Tempe</a></td>
        <td>77,502</td>
        <td>Jim Tressel</td>
    </tr>
    <tr>
        <td align="center">35</td>
        <th scope="row"><a href="https://en.wikipedia.org/wiki/2004_Fiesta_Bowl" title="2004 Fiesta Bowl">Fiesta Bowl</a></th>
        <td style="background:#dfd;"><span style="display:none;" class="sortkey">W 07 !</span><span class="sorttext">W 35–28</span></td>
        <td><span class="sortkey" style="display:none;speak:none">000000002004-01-02-0000</span><span style="white-space:nowrap">Jan 2, 2004</span></td>
        <td><a href="https://en.wikipedia.org/wiki/2003_Ohio_State_Buckeyes_football_team" title="2003 Ohio State Buckeyes football team">2003</a></td>
        <td><a href="https://en.wikipedia.org/wiki/2003_Kansas_State_Wildcats_football_team" title="2003 Kansas State Wildcats football team">Kansas State Wildcats</a></td>
        <td><a href="https://en.wikipedia.org/wiki/Sun_Devil_Stadium" title="Sun Devil Stadium">Sun Devil Stadium</a></td>
        <td><a href="https://en.wikipedia.org/wiki/Tempe,_Arizona" title="Tempe, Arizona">Tempe</a></td>
        <td>73,425</td>
        <td>Jim Tressel</td>
    </tr>
    <tr>
        <td align="center">36</td>
        <th scope="row"><a href="https://en.wikipedia.org/wiki/2004_Alamo_Bowl" title="2004 Alamo Bowl">Alamo Bowl</a></th>
        <td style="background:#dfd;"><span style="display:none;" class="sortkey">W 26 !</span><span class="sorttext">W 33–7</span></td>
        <td><span class="sortkey" style="display:none;speak:none">000000002004-12-29-0000</span><span style="white-space:nowrap">Dec 29, 2004</span></td>
        <td><a href="https://en.wikipedia.org/wiki/2004_Ohio_State_Buckeyes_football_team" title="2004 Ohio State Buckeyes football team">2004</a></td>
        <td><a href="https://en.wikipedia.org/wiki/Oklahoma_State_Cowboys_football" title="Oklahoma State Cowboys football">Oklahoma State Cowboys</a></td>
        <td><a href="https://en.wikipedia.org/wiki/Alamodome" title="Alamodome">Alamodome</a></td>
        <td><a href="https://en.wikipedia.org/wiki/San_Antonio,_Texas" class="mw-redirect" title="San Antonio, Texas">San Antonio</a></td>
        <td>65,265</td>
        <td>Jim Tressel</td>
    </tr>
    <tr>
        <td align="center">37</td>
        <th scope="row"><a href="https://en.wikipedia.org/wiki/2006_Fiesta_Bowl" title="2006 Fiesta Bowl">Fiesta Bowl</a></th>
        <td style="background:#dfd;"><span style="display:none;" class="sortkey">W 14 !</span><span class="sorttext">W 34–20</span></td>
        <td><span class="sortkey" style="display:none;speak:none">000000002006-01-02-0000</span><span style="white-space:nowrap">Jan 2, 2006</span></td>
        <td><a href="https://en.wikipedia.org/wiki/2005_Ohio_State_Buckeyes_football_team" title="2005 Ohio State Buckeyes football team">2005</a></td>
        <td><a href="https://en.wikipedia.org/wiki/2005_Notre_Dame_Fighting_Irish_football_team" title="2005 Notre Dame Fighting Irish football team">Notre Dame</a></td>
        <td><a href="https://en.wikipedia.org/wiki/Sun_Devil_Stadium" title="Sun Devil Stadium">Sun Devil Stadium</a></td>
        <td><a href="https://en.wikipedia.org/wiki/Tempe,_Arizona" title="Tempe, Arizona">Tempe</a></td>
        <td>76,196</td>
        <td>Jim Tressel</td>
    </tr>
    <tr>
        <td align="center">38</td>
        <td scope="row" align="center" bgcolor="#FFE6BD"><b><a href="https://en.wikipedia.org/wiki/2007_BCS_National_Championship_Game" title="2007 BCS National Championship Game">BCS Championship</a></b>*</td>
        <td style="background:#fcc;"><span style="display:none;" class="sortkey">L 27 !</span><span class="sorttext">L 41–14</span></td>
        <td><span class="sortkey" style="display:none;speak:none">000000002007-01-08-0000</span><span style="white-space:nowrap">Jan 8, 2007</span></td>
        <td><a href="https://en.wikipedia.org/wiki/2006_Ohio_State_Buckeyes_football_team" title="2006 Ohio State Buckeyes football team">2006</a></td>
        <td><a href="https://en.wikipedia.org/wiki/2006_Florida_Gators_football_team" title="2006 Florida Gators football team">Florida Gators</a></td>
        <td><a href="https://en.wikipedia.org/wiki/University_of_Phoenix_Stadium" title="University of Phoenix Stadium">Univ of Phoenix</a></td>
        <td><a href="https://en.wikipedia.org/wiki/Glendale,_Arizona" title="Glendale, Arizona">Glendale</a></td>
        <td>74,628</td>
        <td>Jim Tressel</td>
    </tr>
    <tr>
        <td align="center">39</td>
        <td scope="row" align="center" bgcolor="#FFE6BD"><b><a href="https://en.wikipedia.org/wiki/2008_BCS_National_Championship_Game" title="2008 BCS National Championship Game">BCS Championship</a></b>*</td>
        <td style="background:#fcc;"><span style="display:none;" class="sortkey">L 14 !</span><span class="sorttext">L 38–24</span></td>
        <td><span class="sortkey" style="display:none;speak:none">000000002008-01-07-0000</span><span style="white-space:nowrap">Jan 7, 2008</span></td>
        <td><a href="https://en.wikipedia.org/wiki/2007_Ohio_State_Buckeyes_football_team" title="2007 Ohio State Buckeyes football team">2007</a></td>
        <td><a href="https://en.wikipedia.org/wiki/2007_LSU_Tigers_football_team" title="2007 LSU Tigers football team">LSU Tigers</a></td>
        <td><a href="https://en.wikipedia.org/wiki/Louisiana_Superdome" class="mw-redirect" title="Louisiana Superdome">Louisiana Superdome</a></td>
        <td><a href="https://en.wikipedia.org/wiki/New_Orleans" title="New Orleans">New Orleans</a></td>
        <td>79,651</td>
        <td>Jim Tressel</td>
    </tr>
    <tr>
        <td align="center">40</td>
        <th scope="row"><a href="https://en.wikipedia.org/wiki/2009_Fiesta_Bowl" title="2009 Fiesta Bowl">Fiesta Bowl</a></th>
        <td style="background:#fcc;"><span style="display:none;" class="sortkey">L 03 !</span><span class="sorttext">L 24–21</span></td>
        <td><span class="sortkey" style="display:none;speak:none">000000002009-01-05-0000</span><span style="white-space:nowrap">Jan 5, 2009</span></td>
        <td><a href="https://en.wikipedia.org/wiki/2008_Ohio_State_Buckeyes_football_team" title="2008 Ohio State Buckeyes football team">2008</a></td>
        <td><a href="https://en.wikipedia.org/wiki/2008_Texas_Longhorns_football_team" title="2008 Texas Longhorns football team">Texas Longhorns</a></td>
        <td><a href="https://en.wikipedia.org/wiki/University_of_Phoenix_Stadium" title="University of Phoenix Stadium">Univ of Phoenix</a></td>
        <td><a href="https://en.wikipedia.org/wiki/Glendale,_Arizona" title="Glendale, Arizona">Glendale</a></td>
        <td>72,047</td>
        <td>Jim Tressel</td>
    </tr>
    <tr>
        <td align="center">41</td>
        <th scope="row"><a href="https://en.wikipedia.org/wiki/2010_Rose_Bowl" title="2010 Rose Bowl">Rose Bowl</a></th>
        <td style="background:#dfd;"><span style="display:none;" class="sortkey">W 09 !</span><span class="sorttext">W 26–17</span></td>
        <td><span class="sortkey" style="display:none;speak:none">000000002010-01-01-0000</span><span style="white-space:nowrap">Jan 1, 2010</span></td>
        <td><a href="https://en.wikipedia.org/wiki/2009_Ohio_State_Buckeyes_football_team" title="2009 Ohio State Buckeyes football team">2009</a></td>
        <td><a href="https://en.wikipedia.org/wiki/2009_Oregon_Ducks_football_team" title="2009 Oregon Ducks football team">Oregon Ducks</a></td>
        <td><a href="https://en.wikipedia.org/wiki/Rose_Bowl_(stadium)" title="Rose Bowl (stadium)">Rose Bowl</a></td>
        <td><a href="https://en.wikipedia.org/wiki/Pasadena,_California" title="Pasadena, California">Pasadena</a></td>
        <td>93,963</td>
        <td>Jim Tressel</td>
    </tr>
    <tr>
        <td align="center">42</td>
        <th scope="row"><a href="https://en.wikipedia.org/wiki/2011_Sugar_Bowl" title="2011 Sugar Bowl">Sugar Bowl</a></th>
        <td style="background:#e3e3e3;"><span style="display:none;" class="sortkey">W 05 !</span><span class="sorttext">W* 31–26</span></td>
        <td><span class="sortkey" style="display:none;speak:none">000000002011-01-04-0000</span><span style="white-space:nowrap">Jan 4, 2011</span></td>
        <td><a href="https://en.wikipedia.org/wiki/2010_Ohio_State_Buckeyes_football_team" title="2010 Ohio State Buckeyes football team">2010</a></td>
        <td><a href="https://en.wikipedia.org/wiki/2010_Arkansas_Razorbacks_football_team" title="2010 Arkansas Razorbacks football team">Arkansas Razorbacks</a></td>
        <td><a href="https://en.wikipedia.org/wiki/Louisiana_Superdome" class="mw-redirect" title="Louisiana Superdome">Louisiana Superdome</a></td>
        <td><a href="https://en.wikipedia.org/wiki/New_Orleans" title="New Orleans">New Orleans</a></td>
        <td>73,879</td>
        <td>Jim Tressel</td>
    </tr>
    <tr>
        <td align="center">43</td>
        <th scope="row"><a href="https://en.wikipedia.org/wiki/2012_Gator_Bowl" title="2012 Gator Bowl">Gator Bowl</a></th>
        <td style="background:#fcc;"><span style="display:none;" class="sortkey">L 07 !</span><span class="sorttext">L 24–17</span></td>
        <td><span class="sortkey" style="display:none;speak:none">000000002012-01-02-0000</span><span style="white-space:nowrap">Jan 2, 2012</span></td>
        <td><a href="https://en.wikipedia.org/wiki/2011_Ohio_State_Buckeyes_football_team" title="2011 Ohio State Buckeyes football team">2011</a></td>
        <td><a href="https://en.wikipedia.org/wiki/2011_Florida_Gators_football_team" title="2011 Florida Gators football team">Florida Gators</a></td>
        <td><a href="https://en.wikipedia.org/wiki/EverBank_Field" title="EverBank Field">EverBank Field</a></td>
        <td><a href="https://en.wikipedia.org/wiki/Jacksonville,_Florida" title="Jacksonville, Florida">Jacksonville</a></td>
        <td>61,312</td>
        <td>Luke Fickell</td>
    </tr>
    <tr>
        <td align="center">44</td>
        <th scope="row"><a href="https://en.wikipedia.org/wiki/2014_Orange_Bowl_(January)" title="2014 Orange Bowl (January)">Orange Bowl</a></th>
        <td style="background:#fcc;"><span style="display:none;" class="sortkey">L 07 !</span><span class="sorttext">L 40–35</span></td>
        <td><span class="sortkey" style="display:none;speak:none">000000002014-01-03-0000</span><span style="white-space:nowrap">Jan 3, 2014</span></td>
        <td><a href="https://en.wikipedia.org/wiki/2013_Ohio_State_Buckeyes_football_team" title="2013 Ohio State Buckeyes football team">2013</a></td>
        <td><a href="https://en.wikipedia.org/wiki/2013_Clemson_Tigers_football_team" title="2013 Clemson Tigers football team">Clemson Tigers</a></td>
        <td><a href="https://en.wikipedia.org/wiki/Sun_Life_Stadium" class="mw-redirect" title="Sun Life Stadium">Sun Life Stadium</a></td>
        <td><a href="https://en.wikipedia.org/wiki/Miami,_Florida" class="mw-redirect" title="Miami, Florida">Miami</a></td>
        <td>72,080</td>
        <td>Urban Meyer</td>
    </tr>
    <tr>
        <td align="center">45</td>
        <td scope="row" align="center" bgcolor="#FFBF00"><b><a href="https://en.wikipedia.org/wiki/2015_Sugar_Bowl" title="2015 Sugar Bowl">Sugar Bowl</a></b></td>
        <td style="background:#dfd;"><span style="display:none;" class="sortkey">W 07 !</span><span class="sorttext">W 42–35</span></td>
        <td><span class="sortkey" style="display:none;speak:none">000000002015-01-01-0000</span><span style="white-space:nowrap">Jan 1, 2015</span></td>
        <td><a href="https://en.wikipedia.org/wiki/2014_Ohio_State_Buckeyes_football_team" title="2014 Ohio State Buckeyes football team">2014</a></td>
        <td><a href="https://en.wikipedia.org/wiki/2014_Alabama_Crimson_Tide_football_team" title="2014 Alabama Crimson Tide football team">Alabama Crimson Tide</a></td>
        <td><a href="https://en.wikipedia.org/wiki/Mercedes-Benz_Superdome" title="Mercedes-Benz Superdome">Louisiana Superdome</a></td>
        <td><a href="https://en.wikipedia.org/wiki/New_Orleans" title="New Orleans">New Orleans</a></td>
        <td>74,682</td>
        <td>Urban Meyer</td>
    </tr>
    <tr>
        <td align="center">46</td>
        <td scope="row" align="center" bgcolor="#FFE6BD"><b><a href="https://en.wikipedia.org/wiki/2015_College_Football_Playoff_National_Championship" title="2015 College Football Playoff National Championship">CFP National Championship</a></b>*</td>
        <td style="background:#dfd;"><span style="display:none;" class="sortkey">W 07 !</span><span class="sorttext">W 42–20</span></td>
        <td><span class="sortkey" style="display:none;speak:none">000000002015-01-12-0000</span><span style="white-space:nowrap">Jan 12, 2015</span></td>
        <td><a href="https://en.wikipedia.org/wiki/2014_Ohio_State_Buckeyes_football_team" title="2014 Ohio State Buckeyes football team">2014</a></td>
        <td><a href="https://en.wikipedia.org/wiki/2014_Oregon_Ducks_football_team" title="2014 Oregon Ducks football team">Oregon Ducks</a></td>
        <td><a href="https://en.wikipedia.org/wiki/AT%26T_Stadium" title="AT&amp;T Stadium">AT&amp;T Stadium</a></td>
        <td><a href="https://en.wikipedia.org/wiki/Arlington,_Texas" title="Arlington, Texas">Arlington</a></td>
        <td>85,689</td>
        <td>Urban Meyer</td>
    </tr>
    <tr>
        <td align="center">47</td>
        <th scope="row"><a href="https://en.wikipedia.org/wiki/2016_Fiesta_Bowl_(January)" title="2016 Fiesta Bowl (January)">Fiesta Bowl</a></th>
        <td style="background:#dfd;"><span style="display:none;" class="sortkey">W 016 !</span><span class="sorttext">W 44–28</span></td>
        <td><span class="sortkey" style="display:none;speak:none">000000002016-01-01-0000</span><span style="white-space:nowrap">Jan 1, 2016</span></td>
        <td><a href="https://en.wikipedia.org/wiki/2015_Ohio_State_Buckeyes_football_team" title="2015 Ohio State Buckeyes football team">2015</a></td>
        <td><a href="https://en.wikipedia.org/wiki/2015_Notre_Dame_Fighting_Irish_football_team" title="2015 Notre Dame Fighting Irish football team">Notre Dame</a></td>
        <td><a href="https://en.wikipedia.org/wiki/University_of_Phoenix_Stadium" title="University of Phoenix Stadium">Univ of Phoenix</a></td>
        <td><a href="https://en.wikipedia.org/wiki/Glendale,_Arizona" title="Glendale, Arizona">Glendale</a></td>
        <td>71,123</td>
        <td>Urban Meyer</td>
    </tr>
    <tr>
        <td>48</td>
        <th><a href="https://en.wikipedia.org/wiki/Fiesta_Bowl" title="Fiesta Bowl"><b>Fiesta Bowl</b></a></th>
        <td>TBD</td>
        <td>Dec 31, 2016</td>
        <td><a href="https://en.wikipedia.org/wiki/2016_NCAA_Division_I_FBS_football_season" title="2016 NCAA Division I FBS football season">2016</a></td>
        <td><a href="https://en.wikipedia.org/wiki/2016_Clemson_Tigers_football_team" title="2016 Clemson Tigers football team">Clemson Tigers</a></td>
        <td><a href="https://en.wikipedia.org/wiki/University_of_Phoenix_Stadium" title="University of Phoenix Stadium">Univ of Phoenix</a></td>
        <td><a href="https://en.wikipedia.org/wiki/Glendale,_Arizona" title="Glendale, Arizona">Glendale</a></td>
        <td>TBD</td>
        <td>Urban Meyer</td>
    </tr>
</table>

<br><br><br><br><br><br>