{{outlet}}
<h1>Brighton Airport</h1>
<h3>Links</h3>
<a href="https://sites.google.com/site/annarborflyers/Home/aircraft">Ann Arbor Flyers Aircraft</a><br>
N1113U Piper Archer II<br>
N419W Piper Archer III<br>
N5337S Piper Archer III<br>
N4339L Piper Saratoga<br><br>

<a href="https://michiganflyers.org/aircraft/">Michigan Flyers Aircraft</a><br>
N222UM 1977 Cessna 152: $81 / hour<br>
N333UM 1980 Cessna 152: $81 / hour<br>
N68334 1978 Cessna 152: $81 / hour<br>
N230TX 1984 Cessna 172P: $119 / hour<br>
N1377S 2005 Cessna 172SP: $133 / hour<br>
N120WE 2003 Cessna 182T: $161 / hour<br><br>

<a href="http://hstrial-soloaviationi.homestead.com/Rentals.html">Solo Avaiation Aircraft</a><br>
N757MP Cessna 152........at Canton <br>
N389AM Diamond DA20...at Canton <br><br>
N94891 Cessna 152........at JXN <br>
N3540T Cessna 172R......at JXN <br><br>
N4098F Piper Warrior PA28-151 <br>
N531GS Piper Arrow PA28R-201 <br>
N95DL Beechcraft Travelair B95 <br>

<br><br>
{{airport-list}}