{{outlet}}
<h1>Canton Airport</h1>
<h3>Links</h3>
<a href="https://sites.google.com/site/annarborflyers/Home/aircraft">Dawn Patrol Flying Club</a><br>
N1113U Piper Archer II<br>
N419W Piper Archer III<br>
N5337S Piper Archer III<br>
N4339L Piper Saratoga<br><br>

<a href="http://fordeaglesflyingclub.com/">Ford Eagles Flying Club</a><br>
N733AY 1976 Cessna 172N<br>
N9846G 1972 Cessna 172L<br><br>

<a href="http://hstrial-soloaviationi.homestead.com/Rentals.html">Solo Aviation</a><br>
N757MP Cessna 152........at Canton <br>
N389AM Diamond DA20...at Canton <br><br>

<a href="http://hstrial-soloaviationi.homestead.com/Rentals.html">Dearborn Flying Club</a><br>
N757MP Cessna 152........at Canton <br>
N389AM Diamond DA20...at Canton <br><br>

<br><br>
{{airport-list}}