<h3>OSU Legends</h3>
<b>Paul Brown</b>- Born in Norwalk, Ohio, Brown is considered the "father of the modern offense." Brown originally went to Ohio State to play quarterback but soon transferred to Miami. Became head coach for the Buckeyes in 1941 where he went 18-8-1. Brown was hired as head coach for the Cleveland professional football team and they took his name. Brown was fired by Art Modell and went to Cincinnati to become owner, GM and coach for the Bengals. The Brown family still owns the team to this day.<br>
<b>W.W. "Woody" Hayes</b>- Born in Clifton, Ohio, Hayes is the most famous coach in Ohio State Football history. Woody was Ara Parseghian's mentor at Miami University for two years while he was the head coach for the Redskins. Hayes played college ball at Denison University, just east of Columbus.<br>
<b>Earle Bruce</b> - Successor to legendary Buckeye icon, Woody Hayes. Bruce played fullback at Ohio State but blew out his meniscus his freshman year, which ended up launching his career. Was 81-26-1 as head coach at Ohio State.<br>
<b>Jim Tressel</b> - Current Buckeye head coach was born and raised in Northeast Ohio. Coached Youngstown State to four I-AA National Championships. Becoming one of the greatest coaches in Ohio State history with record of 93-21.<br>
<b>Urban Meyer</b>- Born in Ashtabula, Ohio. Coached two years as an assistant at Ohio State. Head Coach at Bowling Green from 2001-2002. Florida's head-man is arguably the best recruiter in college football today.<br>

<br>
<h3>Ohio State Assistants</h3>
<b>Nick Saban</b>- Graduate assistant at Ohio State. Head Coach at Toledo. Assistant coach under Bill Belichick with the Browns. Won BCS title at LSU and looks to repeat this January with Crimson Tide.<br>
<b>Pete Carroll</b> - Secondary coach at Ohio State under Earl Bruce. They lost to USC in the 1980 Rose Bowl. Carroll has had great success at USC.<br>
<b>Larry Coker</b> - OSU assistant in 1993 and '94, under John Cooper. Joined Butch Davis' staff at Miami staff in 1995 and was head coach from 2001 to '06, leading the Hurricanes to the 2001 national title.<br>
<b>Mark Dantonio</b> - OSU assistant in 1983 and '84 (graduate assistant), under Earle Bruce; 2001 to '03, under Jim Tressel. Became head coach at Cincinnati, then Michigan State.<br>
<b>Lovie Smith</b> - OSU assistant in 1995 under John Cooper. Left to become an NFL assistant (Tampa Bay and St. Louis), then in 2004 became head coach of the Chicago Bears.<br>
<b>Glen Mason</b>- Mason played football at Ohio State and later served as an assistant coach. He was promoted to Offensive Coordinator of the Buckeyes and remained in that position through the 1985 season. Mason was head coach for Kent State University in 1986 and 1987 and later coached at Kansas and Minnesota. Mason was a finalist for the Buckeyes' head job but Jim Tressel beat him out.<br>
<b>Lou Holtz</b> - Former Notre Dame legend, Holtz was an assistant at Ohio State in 1968 when the Buckeyes won the National Championship. Now he sputters away as a college football analyst for ESPN.<br>
<br>
<h3>Coaches Born in Ohio</h3>
<b>Dom Capers</b> - Born in Cambridge, Ohio. Played college football at Mount Union in Ohio. Long time NFL head coach and coordinator started his coaching career at Kent State and Ohio State.<br>
<b>Les Miles</b>- Born in Elyria, Ohio, 1953. Bailed on the Buckeyes and played college ball at Michigan under Bo Schembechler. LSU's current head coach is often referred to as "The Hat."<br>
<b>Bob Stoops</b> - Born in Youngstown, Ohio. Was an assistant coach at Kent State University in Ohio.<br>
<b>Jon Gruden</b> - Born in Sandusky, Ohio. Gruden attended Muskingham College in New Concord, Ohio and transferred after just one year he transferred to the University of Dayton where he was the back-up quarterback.<br>
<b>Jim Harbaugh</b> - Brother of Ravens head coach, John Harbaugh. Jm was born in Toledo, Ohio and just signed a 3 year extension to coach the Stanford Cardinal.<br>
<b>John Harbaugh</b>- Current Ravens head coach and brother of Jim Harbaugh, was also born in Toledo, Ohio. Played defensive back at Miami University.<br>
<b>Don Shula</b> - Born in Grand River, Ohio and grew up in Cleveland. Played college ball at John Carroll University in Ohio before signing with the Browns after his senior year.<br>
<b>Chuck Noll</b> - Steelers Hall of Fame coach was born in Cleveland, Ohio. Played football at University of Dayton (Ohio) before being drafted by the Cleveland Browns in 1953.<br>
<b>Ara Parseghian</b> - Born in Akron, Ohio, Parseghian was most famous as the head coach at Notre Dame for 11 seasons. Prior to that Ara played college ball at Miami and then later on with the Cleveland Browns. He also coached at his Alma Mater Miami for five years where he had a record of 39-6-1.<br>
<b>Bo Schembechler</b>- Born in Akron, Ohio. Woody Hayes' arch-rival. Played football at Miami University under Sid Gillman and Woody Hayes. Got his Masters degree at Ohio State where he was an assistant coach for Woody Hayes. Then headed back to Miami where he was the head man for six years before leaving Ohio for The University of Michigan. The rest is history.<br>
<b>Mike Stoops</b>- Current coach at Arizona and brother of Bob Stoops,was also born in Youngstown,Ohio.<br>
<b>Bo Pelini</b>- Current Nebraska head coach was born and raised in Youngstown, Ohio. Was named Bo after Cleveland Browns running back Bo Scott. Played free safety at Ohio State under Earl Bruce and John Cooper.<br>
<br>
<h3>Ohio Connections</h3>
<b>Bill Belichick</b> - Head coach of the Cleveland Browns from 1991-1995. His record in Cleveland was 36-44. He later took Pete Carroll's job in New England where his record has been 110-47. Sorry Browns fans.<br>
<b>Kirk Ferentz</b> - Iowa's head coach was an assistant under Bill Belichick in Cleveland.<br>
<b>Brian Kelly</b> - Led Cincinnati to an 11-0 regular season and Big East Championship. Skipped the bowl game when named head coach at Notre Dame.<br>
