<h2>68 LeCHARLES BENTLEY</h2>
<h3><font color="red">Offensive Lineman – 1998-01</font></h3>
<li>Consensus All-American (2001)</li>
<li>Rimington Award (2001)</li>
<li>Big Ten Offensive Lineman of the Year (2001)</li>

<h2>97 JOEY BOSA</h2>
<h3><font color="red">Defensive End – 2013-15</font></h3>
• Two-time consensus All-American (2014-15)<br>
• Two-time Big Ten defensive lineman of the year (2014-15)<br>
• Big Ten Defensive Player of the Year (2014)<br>

<h2>9 DAVID BOSTON</h2>
<h3><font color="red">Split End – 1996-98</font></h3>
• Still holds 10 Ohio State receiving records<br>
• Most career receptions, TDs and 100-yard games<br>
• All-American (1998)<br>

<h2>41 KEITH BYARS</h2>
<h3><font color="red">Running Back – 1982-85</font></h3>
• Chicago Tribune Silver Football Award (1984)<br>
• Led nation in rushing, scoring and all purpose yards (1984)<br>
• Fifth at Ohio State with 3,200 rushing yards<br>

<h2>2 CRIS CARTER</h2>
<h3><font color="red">Split End – 1984-86</font></h3>
• First Ohio State receiver to be an All-American<br>
• Held nine school records at end of his career<br>
• Pro Football Hall of Fame (2013)<br>

<h2>36 TOM COUSINEAU</h2>
<h3><font color="red">Linebacker – 1975-78</font></h3>
• Two-time Consensus All-American (1977-78)<br>
• First Buckeye to be No. 1 pick in NFL Draft (1979)<br>
• Second in school history with 569 tackles<br>

<h2>2 MIKE DOSS</h2>
<h3><font color="red">Safety – 1999-2002</font></h3>
• Three-time All-American (2000-02)<br>
• First among Ohio State DBs with 331 career tackles<br>
• Big Ten Defensive Player of the Year (2002)<br>

<h2>15 EZEKIEL ELLIOTT</h2>
<h3><font color="red">Running Back – 2013-15</font></h3>
• Chicago Tribune Silver Football (2015)<br>
• Big Ten Offensive Player and Running Back of the Year (2015)<br>
• Offensive MVP vs. No. 1 Alabama & No. 2 Oregon (2016 CFP games)<br>

<h2>30 WES FESLER</h2>
<h3><font color="red">End – 1928-30</font></h3>
• Three-time All-American (1928-30)<br>
• Earned nine Varsity O letters in three sports<br>
• College Football Hall of Fame (1954)<br>

<h2>89 JOHN FRANK</h2>
<h3><font color="red">Tight End – 1980-83</font></h3>
• OSU all-time TE leader in receptions and yards<br>
• Two-time Academic All-American (1982-83)<br>
• Team MVP (1983)<br>

<h2>7 JOE GERMAINE</h2>
<h3><font color="red">Quarterback – 1996-98</font></h3>
• Chicago Tribune Silver Football (1998)<br>
• Holds nine Ohio State QB records<br>
• Team MVP (1998) & Rose Bowl MVP (1997)<br>

<h2>83 TERRY GLENN</h2>
<h3><font color="red">Wide Receiver – 1992-95</font></h3>
• Biletnikoff Award (1995)<br>
• Consensus All-American (1995)<br>
• Ohio State record seven 100-yard receiving games (1995)<br>

<h2>53 RANDY GRADISHAR</h2>
<h3><font color="red">Linebacker – 1971-73</font></h3>
• College Football Hall of Fame (1998)<br>
• Held school record with 320 tackles<br>
• Academic All-America Hall of Fame (1992)<br>

<h2>47 CHIC HARLEY</h2>
<h3><font color="red">Back – 1916-17-19</font></h3>
• College Football Hall of Fame (1951)<br>
• Ohio State’s first three-time All-American<br>
• Led Ohio State to first Big Ten title (1916)<br>

<h2>7 A.J. HAWK</h2>
<h3><font color="red">Linebacker – 2002-05</font></h3>
• Lombardi Award (2005)<br>
• Big Ten Defensive Player of the Year (2005)<br>
• Two-time All-American (Consensus ’04; Unanimous ’05)<br>

<h2>74 JOHN HICKS</h2>
<h3><font color="red">Offensive Tackle – 1970-73</font></h3>
• Lombardi Award (1973)<br>
• Outland Trophy (1973)<br>
• First player to start in three Rose Bowls<br>

<h2>14 BOBBY HOYING</h2>
<h3><font color="red">Quarterback – 1992-95</font></h3>
• NFF Vincent dePaul Draddy Award (1995)<br>
• Ohio State record 57 touchdown passes<br>
• Third among Ohio State QBs with 30 wins<br>

<h2>2 MALCOLM JENKINS</h2>
<h3><font color="red">Cornerback – 2005-08</font></h3>
• Consensus All-American (2008)<br>
• Thorpe Award (2008)<br>
• Played on four Big Ten championship teams<br>

<h2>98 THOMAS “PEPPER” JOHNSON</h2>
<h3><font color="red">Linebacker – 1982-85</font></h3>
• All-American (1985)<br>
• Two-time team captain (1984 & 1985)<br>
• Sixth at Ohio State with 379 tackles<br>

<h2>33 PETE JOHNSON</h2>
<h3><font color="red">Fullback – 1973-76</font></h3>
• School-record 58 touchdowns scored<br>
• Most points and TDs in single season (156 and 26 in 1975)<br>
• Inducted into Rose Bowl Hall of Fame (2007)<br>

<h2>45 ANDY KATZENMOYER</h2>
<h3><font color="red">Linebacker – 1996-98</font></h3>
• Consensus All-American (1997)<br>
• Butkus Award (1997)<br>
• Three-time first-team All-Big Ten<br>

<h2>10 REX KERN</h2>
<h3><font color="red">Quarterback – 1968-70</font></h3>
• All-American (1969)<br>
• 25-2 record as starting quarterback<br>
• Led Buckeyes to 1968 national championship<br>

<h2>16 CRAIG KRENZEL</h2>
<h3><font color="red">Quarterback – 1968-70</font></h3>
• NFF Vincent dePaul Draddy Award (1995)<br>
• 24-3 record as starting quarterback<br>
• Led Buckeyes to 2002 national championship<br>

<h2>64 JIM LACHEY</h2>
<h3><font color="red">Offensive Guard – 1981-84</font></h3>
• Consensus All-American (1984)<br>
• Drafted No. 12 overall by San Diego (1985)<br>
• Nine-time NFL All-Pro<br>

<h2>33 JAMES LAURINAITIS</h2>
<h3><font color="red">Linebacker – 2005-08</font></h3>
• One of only 8 three-time Buckeye All-Americans (2006-08)<br>
• Butkus Award (2007)<br>
• Nagurski Award (2006)<br>

<h2>44 DICK LeBEAU</h2>
<h3><font color="red">Defensive Back – 1956-58</font></h3>
• Pro Football Hall of Fame (2010)<br>
• 57 years in the NFL<br>
• NFL cornerback record 171 consecutive games<br>

<h2>5 BRAXTON MILLER</h2>
<h3><font color="red">Quarterback/H-Back – 2011-15</font></h3>
• Chicago Tribune Silver Football (2012 & 2013)<br>
• Big Ten-record seven individual awards<br>
• Two-time Big Ten offensive and quarterback<br>