{{outlet}}
<h1>NCAA Links</h1>
<h3>Links</h3>
<a href="http://ohiostate.247sports.com/Bolt/Ohio-State-ranks-as-top-college-football-team-over-last-20-years-51373015" target="_blank">Best Schools last 20 years (2017)</a><br>
<a href="http://collegefootball.ap.org/top-100" target="_blank">Top 100 AP (2017)</a><br>
<a href="http://www.cheatsheet.com/sports/greatest-college-football-programs.html/?a=viewall" target="_blank">Cheatsheet Top Programs (2017)</a><br>
<a href="http://www.businessinsider.com/best-college-football-programs-in-america-2016-9" target="_blank">Business Insiders20 most Dominant Modern Era (2016)</a><br>
