{{outlet}}
<h1>NFL Links</h1>
<h3>Links</h3>
<a href="http://fanindex.usatoday.com/2015/10/10/the-top-10-schools-that-have-produced-the-best-nfl-players/">Best Schools for NFL (2015)</a><br>
<a href="https://www.cincyjungle.com/2017/9/3/16247956/nfl-roster-cuts-explaining-pup-nfi-ir-injury-designations">PUP / IR rules</a><br>
<a href="http://www.spotrac.com/blog/nfl-minimum-salaries-for-2017">League Minimum Salaries</a><br>

<br><br>
<h2>NFL 2017 Round 1 Contracts</h2>


1. Cleveland Browns: Myles Garrett, defensive end—signed four-year, fully guaranteed deal worth $30.4 million with a $20.25 million signing bonus and includes offset language.<br>
2. Chicago Bears: Mitchell Trubisky, quarterback–signed four-year deal; terms not announced.<br>
3. San Francisco 49ers: Solomon Thomas, defensive end<br>
4. Jacksonville Jaguars: Leonard Fournette, running back—signed four-year, $27.2 million fully guaranteed deal with no offset language<br>
5. Tennessee Titans: Corey Davis, wide receiver<br>
6. New York Jets: Jamal Adams, safety—signed four-year deal, terms not announced.<br>
7. Los Angeles Chargers: Mike Williams, wide receiver—signed four-year deal, worth $19.75 million, fully guaranteed.<br>
8. Carolina Panthers: Christian McCaffrey, running back—signed four-year, $17.2 million deal, with $10.7 million signing bonus<br>
9. Cincinnati Bengals: John Ross, wide receiver—signed four-year $17.1 million deal with $10.6 million signing bonus<br>
10. Kansas City Chiefs: Patrick Mahomes, quarterback—signed four-year deal, terms not announced.<br>
11. New Orleans Saints: Marshon Lattimore, cornerback—signed four-year fully guaranteed deal worth $15.3 million.<br>
12. Houston Texans: Deshaun Watson, quarterback—signed four-year deal worth $13.854 million, with $8.215 million signing bonus<br>
13. Arizona Cardinals: Haason Reddick, linebacker—signed four-year deal. Terms not announced.<br>
14. Philadelphia Eagles: Derek Barnett, defensive end—signed four-year deal, $12.8 million deal<br>
15. Indianapolis Colts: Malik Hooker, safety —signed a four-year deal worth $12.6 million, including a $7.3 million signing bonus<br>
16. Baltimore Ravens: Marlon Humphrey, cornerback—signed four-year deal, with $11.9 million fully guaranteed and a $6.8 million signing bonus<br>
17. Washington Redskins: Jonathan Allen, defensive end—signed four-year deal worth $11.6 million with $6.6 million signing bonus<br>
18. Tennessee Titans: Adoree' Jackson, cornerback—signed four-year deal, worth $11.3 million, with $6.3 million signing bonus.<br>
19. Tampa Bay Buccaneers: O.J. Howard, tight end—signed four-year deal, worth $11.1 million<br>
20. Denver Broncos: Garett Bolles, offensive tackle—signed four-year, $11 million deal with $6.2 million signing bonus.<br>
21. Detroit Lions: Jarrad Davis, linebacker—signed four-year deal, worth $10.97 million fully guaranteed, with $6.1 million signing bonus<br>
22. Miami Dolphins: Charles Harris, linebacker—signed four-year deal, worth $10.9 million<br>
23. New York Giants: Evan Engram, tight end—signed four-year deal, worth $10.7 million, with $10,3 million guaranteed.<br>
24. Oakland Raiders: Gareon Conley, cornerback<br>
25. Cleveland Browns: Jabrill Peppers, safety—signed four-year deal, terms not announced.<br>
26. Atlanta Falcons: Takkarist McKinley, defensive end—signed four-year deal, worth $10.2 million ($9 million guaranteed) with $5.6 million signing bonus<br>
27. Buffalo Bills: Tre'Davious White, cornerback—signed four-year deal, worth $10.1 million. Received $8.8 million guaranteed with $5.5 million signing bonus<br>
28. Dallas Cowboys: Taco Charlton, defensive end—signed four-year deal, worth $10 million, with $8.6 million fully guaranteed and $5.4 million signing bonus.<br>
29. Cleveland Browns: David Njoku, tight end—signed four-year deal, worth $9.5 million.<br>
30. Pittsburgh Steelers: T.J. Watt, linebacker—signed four-year deal, worth $9.3 million.<br>
31. San Francisco 49ers: Reuben Foster, linebacker—signed four-year deal, worth $9 million.<br>
32. New Orleans Saints: Ryan Ramczyk, offensive tackle—signed four-year deal; terms not announced.<br>

<h2>NFL 2017 Round 2 Contracts</h2>
<div class=\"table-wrapper\"><table width=\"417\"><tbody><tr><td width=\"12%\"><strong>Pick</strong></td>
    <td width=\"13%\"><strong>Team</strong></td><td width=\"26%\"><strong>Player</strong></td>
    <td><strong>4-Year Contract</strong></td><td><strong>Signing Bonus</strong></td></tr><tr>
    <td width=\"12%\">33</td><td width=\"13%\">GB</td><td width=\"26%\">Kevin King</td>
    <td>$7,105,574</td><td>$3,307,690</td></tr><tr><td width=\"12%\">34</td><td width=\"13%\">JAC</td><td width=\"26%\">Cam Robinson</td><td>$7,042,506</td><td>$3,261,822</td></tr><tr><td width=\"12%\">35</td><td width=\"13%\">SEA</td><td width=\"26%\">Malik McDowell</td><td>$6,979,437</td><td>$3,215,954</td></tr><tr><td width=\"12%\">36</td><td width=\"13%\">ARI</td><td width=\"26%\">Budda Baker</td><td>$6,853,308</td><td>$3,124,224</td></tr><tr><td width=\"12%\">37</td><td width=\"13%\">BUF</td><td width=\"26%\">Zay Jones</td><td>$6,802,856</td><td>$3,087,532</td></tr><tr><td width=\"12%\">38</td><td width=\"13%\">LAC</td><td width=\"26%\">Forrest Lamp</td><td>$6,689,321</td><td>$3,004,960</td></tr><tr><td width=\"12%\">39</td><td width=\"13%\">NYJ</td><td width=\"26%\">Marcus Maye</td><td>$6,575,816</td><td>$2,922,412</td></tr><tr><td width=\"12%\">40</td><td width=\"13%\">CAR</td><td width=\"26%\">Curtis Samuel</td><td>$6,474,905</td><td>$2,849,022</td></tr><tr><td width=\"12%\">41</td><td width=\"13%\">MIN</td><td width=\"26%\">Dalvin Cook</td><td>$6,374,002</td><td>$2,775,638</td></tr><tr><td width=\"12%\">42</td><td width=\"13%\">NO</td><td width=\"26%\">Marcus Williams</td><td>$6,260,481</td><td>$2,693,077</td></tr><tr><td width=\"12%\">43</td><td width=\"13%\">PHI</td><td width=\"26%\">Sidney Jones</td><td>$6,159,578</td><td>$2,619,693</td></tr><tr><td width=\"12%\">44</td><td width=\"13%\">LA</td><td width=\"26%\">Gerald Everett</td><td>$6,063,428</td><td>$2,549,766</td></tr><tr><td width=\"12%\">45</td><td width=\"13%\">CHI</td><td width=\"26%\">Adam Shaheen</td><td>$5,928,757</td><td>$2,451,823</td></tr><tr><td width=\"12%\">46</td><td width=\"13%\">IND</td><td width=\"26%\">Quincy Wilson</td><td>$5,783,698</td><td>$2,346,326</td></tr><tr><td width=\"12%\">47</td><td width=\"13%\">BAL</td><td width=\"26%\">Tyus Bowser</td><td>$5,591,978</td><td>$2,206,893</td></tr><tr><td width=\"12%\">48</td><td width=\"13%\">CIN</td><td width=\"26%\">Joe Mixon</td><td>$5,465,848</td><td>$2,115,162</td></tr><tr><td width=\"12%\">49</td><td width=\"13%\">WAS</td><td width=\"26%\">Ryan Anderson</td><td>$5,339,704</td><td>$2,023,421</td></tr><tr><td width=\"12%\">50</td><td width=\"13%\">TB</td><td width=\"26%\">Justin Evans</td><td>$5,213,582</td><td>$1,931,696</td></tr><tr><td width=\"12%\">51</td><td width=\"13%\">DEN</td><td width=\"26%\">DeMarcus Walker</td><td>$5,087,453</td><td>$1,839,966</td></tr><tr><td width=\"12%\">52</td><td width=\"13%\">CLE</td><td width=\"26%\">DeShone Kizer</td><td>$4,961,316</td><td>$1,748,230</td></tr><tr><td width=\"12%\">53</td><td width=\"13%\">DET</td><td width=\"26%\">Teez Tabor</td><td>$4,835,187</td><td>$1,656,500</td></tr><tr><td width=\"12%\">54</td><td width=\"13%\">MIA</td><td width=\"26%\">Raekwon McMillan</td><td>$4,709,050</td><td>$1,564,764</td></tr><tr><td width=\"12%\">55</td><td width=\"13%\">NYG</td><td width=\"26%\">Dalvin Tomlinson</td><td>$4,582,921</td><td>$1,473,033</td></tr><tr><td width=\"12%\">56</td><td width=\"13%\">OAK</td><td width=\"26%\">Obi Melifonwu</td><td>$4,519,852</td><td>$1,427,165</td></tr><tr><td width=\"12%\">57</td><td width=\"13%\">HOU</td><td width=\"26%\">Zach Cunningham</td><td>$4,482,010</td><td>$1,399,644</td></tr><tr><td width=\"12%\">58</td><td width=\"13%\">SEA</td><td width=\"26%\">Ethan Pocic</td><td>$4,418,949</td><td>$1,353,781</td></tr><tr><td width=\"12%\">59</td><td width=\"13%\">KC</td><td width=\"26%\">Tanoh Kpassagnon</td><td>$4,330,655</td><td>$1,289,567</td></tr><tr><td width=\"12%\">60</td><td width=\"13%\">DAL</td><td width=\"26%\">Chidobe Awuzie</td><td>$4,292,812</td><td>$1,262,045</td></tr><tr><td width=\"12%\">61</td><td width=\"13%\">GB</td><td width=\"26%\">Josh Jones</td><td>$4,242,361</td><td>$1,225,353</td></tr><tr><td width=\"12%\">62</td><td width=\"13%\">PIT</td><td width=\"26%\">JuJu Smith-Schuster</td><td>$4,204,518</td><td>$1,197,831</td></tr><tr><td width=\"12%\">63</td><td width=\"13%\">BUF</td><td width=\"26%\">Deon Dawkins</td><td>$4,191,909</td><td>$1,188,661</td></tr><tr><td width=\"12%\">64</td><td width=\"13%\">CAR</td><td width=\"26%\">Taylor Moton</td><td>$4,166,683</td><td>$1,170,315</td></tr></tbody></table></div>