{{outlet}}
<h1>Oakland Southwest</h1>
<h3>Links</h3>
<a href="http://www.americanacesaviation.com/">American Aces Aviation</a><br>
N1113U Piper Archer II<br>
N419W Piper Archer III<br>
N5337S Piper Archer III<br>
N4339L Piper Saratoga<br><br>

<a href="https://michiganflyers.org/aircraft/">American Eagle Flight Club</a><br>
N222UM 1977 Cessna 152: $81 / hour<br>
N333UM 1980 Cessna 152: $81 / hour<br>
N68334 1978 Cessna 152: $81 / hour<br>
N120WE 2003 Cessna 182T: $161 / hour<br><br>

{{airport-list}}