{{outlet}}
<h1>NCAA Timeline</h1>
<h3>1803 - Ohio Becomes a State</h3>
<h3>1817 - UM Founded</h3>
<h3>1836 - Toledo War</h3>
<h3>1837 - Michigan Becomes a State</h3>
<h3>1870 - Ohio State University Founded</h3>
<h3>1879 - First UM Football Game played vs Racine College</h3>
<h3>1881 - UM Plays Harvard in Boston </h3>
<h3>1887 - UM Stops by Notre Dame on way to Chicago and teaches them Football </h3>
<h3>1894 - UM beats Cornell - First time a "West" school beats a "East" school</h3>
<h3>1896 - Big Ten Conference Founded</h3>
<h3>1897 - First OSU - UM Game</h3>
<h3>1906 - First Forward Pass in College Football</h3>
<h3>1908 - UM Withdraws from Big Ten </h3>
<h3>1912 - Ohio State joins Big Ten </h3>
<h3>1912 - Scoring Rules for 7 point TD/3 pt field goal </h3>
<h3>1917 - UM Rejoins Big Ten </h3>
<h3>1918 - First OSU - UM Conference Game</h3>
<h3>1919 - First OSU conference win over UM</h3>
<h3>1936 - AP Poll Created</h3>
<h3>1950 - Snow Bowl</h3>
<h3>1958 - 2 Point Conversion Added</h3>
<h3>1969 - 1978 Ten Year War</h3>
<h3>1997 - 1 VS 4 (Woodson wins 20-14)</h3>
<h3>2006 - 1 VS 2 (OSU wins 42-39)</h3>
<h3>2016 - 2 VS 3 (OSU wins 30-27 OT)</h3>


