{{outlet}}
<h1>Oakland Airport</h1>
<h3>Links</h3>

<a href="http://eximiousflyingclub.org/">Eximious Flying Club</a><br>
N2299B 1977 Commander 114: $140/hr<br><br>

<a href="http://warrenflyingclub.org/">Warren Flying Club</a><br>
N9359H - 1976 Cessna 172M<br>
N52219 - 1981 Cessna 172P<br>
N526BL - 1999 Cessna 182S<br><br>

<a href="https://troyoaklandpilots.org/">Troy Oakland Pilots Clubt</a><br>
N64477 - Cessna 172M: $50 / hour dry<br>
N6508K - Cessna 172P: $60 / hour dry<br>
N737LM - Cessna TR182: $95 / hour dry<br>
N9885M - Cessna 182P: $125 / hour dry<<br><br>

OTHERS<br>
N19854<br>
N28235<br>
N5663W (Oakland)<br>
N536DC (Bloomfield Hills)<br>
N30100 (Bloomfield Hills)<br>
N717CT (new Cirrus)<br>

<br><br>
{{airport-list}}